# Linear Regression in Python

Work in progress regression vignette in Python using data from the WHO.

by Paul Jeffries

In [1]:
import datetime
print('Last Updated On: ', datetime.datetime.today().strftime('%Y-%m-%d'))

Last Updated On:  2018-12-28

In [2]:
# key packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from janitor import clean_names, remove_empty

In [3]:
# basic setup steps

# prints the present working directory (helpful for sourcing the CSVs later)
%pwd

# setting seed for any functions that require randomization (for repeatability)
np.random.seed(123)

# Exploratory Data Analysis (EDA)

Key Links for Inspiration:

https://github.com/ericmjl/pyjanitor

https://www.kaggle.com/aselad/exploratory-data-analysis-on-the-titanic-dataset

https://towardsdatascience.com/histograms-and-density-plots-in-python-f6bda88f5ac0

In [7]:
# import the datasets from csv into a pandas df
life_exp_base_df = pd.read_csv('data/life_expectancy.csv')

# print the head of the df to inspect what we imported
life_exp_base_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
clean_life_exp_df = (life_exp_base_df
          .clean_names(strip_underscores=True)
          .remove_empty()
     ) # further method chaining possible

In [6]:
clean_life_exp_df.head()

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,...,polio,total_expenditure,diphtheria,hiv_aids,gdp,population,thinness_1_19_years,thinness_5_9_years,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5